@import '../../styles/_colors.scss';

@mixin responsive-font-size($desktop-size, $mobile-size) {
  font-size: $desktop-size;

  @media (max-width: 768px) {
    font-size: $mobile-size;
  }
}

@mixin responsive-padding($desktop-padding, $mobile-padding) {
  padding: $desktop-padding;

  @media (max-width: 768px) {
    padding: $mobile-padding;
  }
}

@mixin responsive-flex-direction($desktop-direction, $mobile-direction) {
  flex-direction: $desktop-direction;

  @media (max-width: 768px) {
    flex-direction: $mobile-direction;
  }
}

@mixin responsive-margin($desktop-margin, $mobile-margin) {
  margin: $desktop-margin;

  @media (max-width: 768px) {
    margin: $mobile-margin;
  }
}

.logement-info {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  &__title {
    @include responsive-font-size(36px, 24px);
    font-weight: 500;
    color: $primary-color;
  }

  &__location {
    @include responsive-font-size(1.5rem, 1rem);
    font-weight: 500;
  }

  &__host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    figure {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-items: center;
      gap: 10px;

      img {
        width: 64px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 10px;

        @media (max-width: 768px) {
          margin-right: 0;
          width: 40px;
        }
      }

      figcaption {
        @include responsive-font-size(18px, 16px);
        text-align: right;
        padding-right: 15px;
        text-wrap: wrap;
        color: $primary-color;

        @media (max-width: 768px) {
          padding-right: 0;
        }
      }
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;

    @media (max-width: 768px) {
      gap: 5px;
    }

    & > * {
      @include responsive-padding(5px 20px, 5px 10px);
      min-width: 115px;
      border-radius: 10px;
      background-color: $primary-color;
      color: white;

      @media (max-width: 768px) {
        min-width: 80px;
      }
    }
  }

  &__collapse {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
